<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.slc.filelibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="android.slc.filelibrary.ui.activity.SlcFilePickerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|fontScale"
            android:theme="@style/SlcFileAppTheme" />
        <activity
            android:name="android.slc.filelibrary.ui.activity.SlcSimpleFileActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|fontScale"
            android:theme="@style/SlcFileAppTheme" />
    </application>

</manifest>